*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background: url(images/bg-mobile.svg) no-repeat center fixed , hsl(257, 40%, 49%);
    background-size:cover;
}
body{
    font-size:18px ;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: 'Poppins', sans-serif;
    
}


main{
    max-width: 350px;
    width: 100%;
    margin: 40px;
    display: flex;
    flex-direction: column;
}

header{
    margin-bottom: 50px;
}

svg{
    height: 40px;
    width:150px
}
img{
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

.heading{
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-weight: 600;
    font-size: 2rem;
}

.subheading{
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-weight: 400;
}

.s-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button{
    display: inline-block;
    padding: 10px 40px;
    border-radius: 20px;
    text-align: center;
    color: hsl(257, 40%, 49%);
    border: none;
}

button:hover{
    background-color:#e882e8;
    color: white;
}

footer{
    margin-top: 40px;
}

i{
    margin: 10px;
    padding: 10px;
    color: white;
    border: 1px solid white;
    border-radius: 100%;
   
}

i:hover{
    color:#e882e8 ;
    border:2px solid #e882e8;
}

@media screen and (min-width:900px) {
    body{
        
        background: url(images/bg-desktop.svg) no-repeat , hsl(257, 40%, 49%);
        background-size: cover;
    }
    
    main{
        flex-direction: row;
        max-width: 1100px;
        width: 100%;
        margin:100px 50px;
        
}

.f-container{
    width: 50%;
}

img{
    height: auto;
    width: 100%;
}

.s-container{
    width: 45%;
    margin-left: auto;
    align-items: flex-start;
    justify-content: center;
    margin-top: 100px;
}

.heading{
    text-align: left;
    margin-bottom: 20px;
    font-size: 1.5rem;
}
.subheading{
    text-align: left;
    margin-bottom: 20px;
    font-size: 1.1rem;
}

footer{
    margin-left: auto;
}
}